<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="styles/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <form class="login-form" th:action="@{/login}" method="POST">
            <h1>Login</h1>
            <div class="inputs-flex-container">
                <div th:if="${show}" th:text="${msg}" class="login-msg-box">Incorrect login or password</div>
                <input type="text" th:name="login" class="input-flex-item input-item text-input" placeholder="email or username" required>
                <input type="password" th:name="pwd" class="input-flex-item input-item pwd-input" placeholder="password" required>
                <input type="submit" class="input-flex-item input-item submit-btn" value="submit">
                <a href="registration.html" th:href="@{/registration}" class="link">registration</a>
            </div>
        </form>
    </body>
</html>