<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <form class="login-form" th:action="@{/login}" method="POST">
            <h1>Login</h1>
            <div class="inputs-flex-container">
                <div th:if="${show}" th:text="${msg}" class="login-error-box"></div>
                <input type="text" th:name="login" class="flex-item input-item text-input" placeholder="username" required>
                <input type="password" th:name="pwd" class="flex-item input-item pwd-input" placeholder="password" required>
                <input type="submit" class="flex-item input-item submit-btn" value="submit">
                <a href="registration.html" th:href="@{/registration}" class="link">registration</a>
            </div>
        </form>
    </body>
</html>